.signup-form{
    margin-top: 40px;
    margin-left: 520px;
    margin-right: 520px;
    padding: 70px;
    background-color: #2C326817;
    display: flex;
    justify-content: center;
}

.signup-form button{
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.signup-form input{
    background: white; 
    border-radius: 20px; 
    border: 1px #1E1E1E solid;
    padding: 5px;
}

::placeholder {
    padding: 20px;
}

